# Compare output with processed data provided by TTC

In [8]:
from psycopg2 import connect
import configparser
%matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import matplotlib.ticker as ticker
import folium

CONFIG = configparser.ConfigParser()
CONFIG.read('db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

from IPython.display import HTML

def print_table(sql, con):
    return HTML(pandasql.read_sql(sql, con).to_html(index=False))

## Explore the data provided by the TTC

There are 93 combinations of distinct from stops, to stops, and directions that we have time data from.

In [13]:
sql_avg = '''
SELECT DISTINCT fromstopname, tostopname, from_stop_id, to_stop_id, directionid, COUNT(*) cnt, routenumber, 
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes
FROM section_runs
WHERE routenumber = 504
GROUP BY fromstopname, tostopname, directionid,from_stop_id, to_stop_id, routenumber
ORDER BY time_diff_minutes; 
'''

pandasql.read_sql(sql_avg, con)

,fromstopname,tostopname,from_stop_id,to_stop_id,directionid,cnt,routenumber,time_diff_minutes
0,BROADVIEW STATION AT BAY 6,DUNDAS WEST STATION AT BAY 4,13050,13209,0,2,504,-940.666667
1,KING ST EAST AT JARVIS ST,BROADVIEW STATION AT BAY 6,1897,13050,0,4,504,-344.833333
2,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT BATHURST ST,13209,2253,0,9,504,-137.592593
3,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,8207,8207,0,98,504,-4.095238
4,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,1897,8207,0,1696,504,-0.682390
5,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,5334,7034,1,1631,504,0.104016
6,KING ST EAST AT YONGE ST,KING ST WEST AT YONGE ST,7034,3070,0,2,504,0.333333
7,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,2253,2253,0,2,504,0.333333
8,KING ST WEST AT YONGE ST,KING ST EAST AT YONGE ST,3070,7034,1,2,504,0.333333
9,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,3357,436,1,1604,504,0.462594
10,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,1389,1389,1,2,504,0.500000
11,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT UNIVERSITY AVE,1845,1845,0,27,504,0.604938
12,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,7034,1845,0,1,504,0.666667
13,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT UNIVERSITY AVE,3357,3357,1,14,504,0.880952
14,KING ST EAST AT YONGE ST,KING ST WEST AT YONGE ST,7034,3070,1,8,504,1.000000
15,KING ST EAST AT JARVIS ST,KING ST EAST AT JARVIS ST,1897,1897,0,4,504,1.083333
16,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,436,7211,1,1687,504,1.206106
17,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,7034,3357,1,1590,504,1.597065
18,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,2253,4748,0,1697,504,1.754086
19,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,4748,1845,0,1645,504,1.823090
20,KING ST EAST AT JARVIS ST,KING ST WEST AT YONGE ST,5334,3070,1,1,504,2.000000
21,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,3070,1897,0,1562,504,2.161758
22,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,1845,3070,0,1563,504,2.299211
23,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,3357,3070,1,3,504,2.444444
24,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT YONGE ST,1845,7034,0,5,504,2.600000
25,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1897,7034,0,1,504,3.000000
26,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,4748,2253,0,2,504,3.000000
27,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,7211,4341,1,1667,504,3.209748
28,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1389,5334,1,1634,504,3.471440
29,KING ST EAST AT YONGE ST,KING ST EAST AT JARVIS ST,7034,5334,1,5,504,3.666667
...,...,...,...,...,...,...,...,...
47,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,3357,5334,1,4,504,7.416667
48,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,1845,1897,0,88,504,7.484848
49,KING ST WEST AT DUFFERIN ST,KING ST WEST AT DUFFERIN ST,4568,4568,0,6,504,7.500000
50,KING ST EAST AT JARVIS ST,KING ST EAST AT JARVIS ST,5334,5334,1,14,504,8.071429
51,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,7034,436,1,52,504,8.224359
52,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT PARLIAMENT ST,1845,8207,0,1,504,8.333333
53,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,4748,1897,0,33,504,11.080808
54,KING ST WEST AT SPADINA AVE,KING ST WEST AT DUFFERIN ST,436,4341,1,13,504,11.256410
55,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,5334,436,1,39,504,11.606838
56,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,6113,2253,0,10,504,12.166667
57,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,4568,13209,0,1,504,14.666667
58,KING ST WEST AT YONGE ST,KING ST EAST AT YONGE ST,3070,7034,0,17,504,15.588235
59,KING ST WEST AT DUFFERIN ST,KING ST WEST AT SPADINA AVE,4568,4748,0,11,504,15.727273
60,KING ST WEST AT SPADINA AVE,KING ST WEST AT SPADINA AVE,436,436,1,8,504,15.833333
61,KING ST WEST AT BATHURST ST,KING ST EAST AT JARVIS ST,2253,1897,0,1,504,16.666667
62,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,4341,7211,1,11,504,17.424242
63,KING ST WEST AT SPADINA AVE,KING ST WEST AT SPADINA AVE,4748,4748,0,21,504,18.079365
64,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,5334,1389,1,3,504,22.000000
65,KING ST EAST AT JARVIS ST,BROADVIEW STATION AT BAY 6,5334,13050,1,2,504,29.333333
66,KING ST WEST AT YONGE ST,KING ST WEST AT SPADINA AVE,3070,4748,0,2,504,32.666667
67,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,8207,1897,0,39,504,33.239316
68,DUFFERIN GATE LOOP,DUNDAS WEST STATION AT BAY 4,6113,13209,0,1,504,36.000000
69,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,436,3357,1,16,504,39.125000
70,BROADVIEW STATION AT BAY 6,KING ST WEST AT DUFFERIN ST,13050,4341,1,1,504,41.333333
71,KING ST WEST AT BATHURST ST,DUNDAS WEST STATION AT BAY 4,7211,13209,1,16,504,42.791667
72,DUNDAS WEST STATION AT BAY 4,BROADVIEW STATION AT BAY 6,13209,13050,0,2,504,55.666667
73,KING ST WEST AT BATHURST ST,BROADVIEW STATION AT BAY 6,7211,13050,1,1,504,68.666667
74,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,2253,4568,0,7,504,87.809524
75,BROADVIEW STATION AT BAY 6,KING ST EAST AT JARVIS ST,13050,5334,1,17,504,87.901961
76,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,7211,7211,1,9,504,103.962963

Look at all the stops that segments start at.

In [2]:
sql_from_stop = '''
SELECT DISTINCT fromstopname, from_stop_id
FROM section_runs
order by from_stop_id; 
'''

pandasql.read_sql(sql_from_stop, con)

                       fromstopname  from_stop_id
0       KING ST WEST AT SPADINA AVE           436
1     KING ST EAST AT PARLIAMENT ST          1389
2   KING ST WEST AT UNIVERSITY AVE           1845
3         KING ST EAST AT JARVIS ST          1897
4       KING ST WEST AT BATHURST ST          2253
5          KING ST WEST AT YONGE ST          3070
6   KING ST WEST AT UNIVERSITY AVE           3357
7       KING ST WEST AT DUFFERIN ST          4341
8       KING ST WEST AT DUFFERIN ST          4568
9       KING ST WEST AT SPADINA AVE          4748
10        KING ST EAST AT JARVIS ST          5334
11               DUFFERIN GATE LOOP          6113
12         KING ST EAST AT YONGE ST          7034
13      KING ST WEST AT BATHURST ST          7211
14    KING ST EAST AT PARLIAMENT ST          8207
15       BROADVIEW STATION AT BAY 6         13050
16     DUNDAS WEST STATION AT BAY 4         13209
17                  DISTILLERY LOOP         15439

Look at all stops where the segments end.

In [3]:
sql_to_stop = '''
SELECT DISTINCT tostopname, to_stop_id
FROM section_runs
order by to_stop_id; 
'''

pandasql.read_sql(sql_to_stop, con)

                         tostopname  to_stop_id
0       KING ST WEST AT SPADINA AVE         436
1     KING ST EAST AT PARLIAMENT ST        1389
2                   DISTILLERY LOOP        1845
3   KING ST WEST AT UNIVERSITY AVE         1845
4         KING ST EAST AT JARVIS ST        1897
5       KING ST WEST AT BATHURST ST        2253
6          KING ST WEST AT YONGE ST        3070
7   KING ST WEST AT UNIVERSITY AVE         3357
8       KING ST WEST AT DUFFERIN ST        4341
9       KING ST WEST AT DUFFERIN ST        4568
10      KING ST WEST AT SPADINA AVE        4748
11        KING ST EAST AT JARVIS ST        5334
12               DUFFERIN GATE LOOP        6113
13         KING ST EAST AT YONGE ST        7034
14      KING ST WEST AT BATHURST ST        7211
15    KING ST EAST AT PARLIAMENT ST        8207
16       BROADVIEW STATION AT BAY 6       13050
17     DUNDAS WEST STATION AT BAY 4       13209
18                  DISTILLERY LOOP       15439

## Compare averages between TTC and our processed data

Now calculate the average time between this segments from our CIS data processing.

Filtering for where arrival_time at the last stop in the segment is greater than departure time of the first stop in the segment means positive and negative values will not get filtered together. However, it also means that some values with the opposite direction are filtered out.

In [11]:
sql_cis_avg = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time 
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime > fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
)

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time > departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis
0,504,2253,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,0,2,0.333333,53,1.094340
1,504,1389,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,1,2,0.500000,6,9.888889
2,504,1897,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT JARVIS ST,0,4,1.083333,15,2.555556
3,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,1686,2.059134,4581,3.269897
4,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,1692,2.715721,5048,2.851760
5,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,1628,2.753675,5218,2.517056
6,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,1561,3.083280,3780,3.322227
7,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,1562,3.221084,3739,2.574735
8,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,1588,3.408270,4975,2.760121
9,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,1695,3.450157,4924,3.342134
10,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,1634,3.471440,4678,3.120418
11,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,1642,4.447818,4682,3.807661
12,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,1599,4.953096,4292,3.770329
13,504,8207,3070,KING ST WEST AT YONGE ST,KING ST EAST AT PARLIAMENT ST,0,6,5.111111,3812,6.726924
14,504,3357,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,1,17,5.843137,4536,5.380229
15,504,7211,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT BATHURST ST,1,4,6.000000,4475,7.382421
16,504,7034,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT YONGE ST,1,2,6.333333,4968,6.171498
17,504,3070,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT YONGE ST,0,15,6.666667,3744,7.755075
18,504,1845,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT UNIVERSITY AVE,0,3,7.111111,4702,8.046952
19,504,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,88,7.484848,4683,5.911446
20,504,4568,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT DUFFERIN ST,0,6,7.500000,20,33.016667
21,504,5334,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT JARVIS ST,1,14,8.071429,10,21.133333
22,504,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,52,8.224359,4893,7.947803
23,504,8207,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT PARLIAMENT ST,0,1,8.333333,4744,9.288361
24,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,1661,8.396338,4883,7.911277
25,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,1663,9.069363,4902,8.455056
26,504,1897,4748,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,0,33,11.080808,4765,10.974124
27,504,4341,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT DUFFERIN ST,1,13,11.256410,4572,11.622208
28,504,436,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,1,39,11.606838,4505,10.559745
29,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,1508,15.112533,330,24.754545
30,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,1501,15.544937,620,17.179032
31,504,4748,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT SPADINA AVE,0,11,15.727273,4841,12.058734
32,504,436,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT SPADINA AVE,1,8,15.833333,11,5.272727
33,504,13050,1897,KING ST EAST AT JARVIS ST,BROADVIEW STATION AT BAY 6,0,3,16.111111,338,28.464497
34,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,1495,16.607124,3886,15.956991
35,504,1897,2253,KING ST WEST AT BATHURST ST,KING ST EAST AT JARVIS ST,0,1,16.666667,4833,15.385202
36,504,7211,4341,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,1,11,17.424242,1,1394.666667
37,504,13209,4341,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,1,1470,19.864626,89,20.827715
38,504,1389,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,1,3,22.000000,6,30.444444
39,504,2253,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT BATHURST ST,0,8,22.833333,3840,24.953524
40,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,96,25.416667,119,1.008403
41,504,4341,4341,KING ST WEST AT DUFFERIN ST,KING ST WEST AT DUFFERIN ST,1,104,33.381410,9,157.037037
42,504,4341,13050,BROADVIEW STATION AT BAY 6,KING ST WEST AT DUFFERIN ST,1,1,41.333333,621,42.371444
43,504,13209,7211,KING ST WEST AT BATHURST ST,DUNDAS WEST STATION AT BAY 4,1,16,42.791667,75,29.342222
44,504,13050,13209,DUNDAS WEST STATION AT BAY 4,BROADVIEW STATION AT BAY 6,0,2,55.666667,251,82.027888
45,504,4568,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,0,7,87.809524,1,303.333333
46,504,5334,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT JARVIS ST,1,17,87.901961,660,21.014141
47,504,7211,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,1,9,103.962963,24,0.819444

There is not a lot of data for when the departure time is greater than the arrival time.

In [12]:
sql_cis_avg = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time 
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime < fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
)

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM departure_time -  arrival_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time < departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis
0,504,13209,13050,BROADVIEW STATION AT BAY 6,DUNDAS WEST STATION AT BAY 4,0,2,940.666667,251,83.767596
1,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,2,1420.666667,2571,0.646694
2,504,4341,4341,KING ST WEST AT DUFFERIN ST,KING ST WEST AT DUFFERIN ST,1,2,1422.833333,2735,1.618013
3,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,6,1432.611111,1,1397.666667
4,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,5,1433.400000,1,304.000000

Filter out rows where the count for either our data or the ttc data is less than 10 because the averages for these time differences could be easily skewed by outliers. 

Overall, most segments have similar travel times. In the last three rows in the table below, there seems to be very big differences in the travel times accross the segments. However, the last two rows have a count of under 20 for the ttc processed CIS data, so there could be some outliers that are skewing the results.

In [15]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time 
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime > fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time > departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT * 
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis
0,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,1686,2.059134,4581,3.269897
1,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,1692,2.715721,5048,2.851760
2,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,1628,2.753675,5218,2.517056
3,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,1561,3.083280,3780,3.322227
4,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,1562,3.221084,3739,2.574735
5,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,1588,3.408270,4975,2.760121
6,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,1695,3.450157,4924,3.342134
7,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,1634,3.471440,4678,3.120418
8,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,1642,4.447818,4682,3.807661
9,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,1599,4.953096,4292,3.770329
10,504,3357,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,1,17,5.843137,4536,5.380229
11,504,3070,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT YONGE ST,0,15,6.666667,3744,7.755075
12,504,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,88,7.484848,4683,5.911446
13,504,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,52,8.224359,4893,7.947803
14,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,1661,8.396338,4883,7.911277
15,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,1663,9.069363,4902,8.455056
16,504,1897,4748,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,0,33,11.080808,4765,10.974124
17,504,4341,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT DUFFERIN ST,1,13,11.256410,4572,11.622208
18,504,436,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,1,39,11.606838,4505,10.559745
19,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,1508,15.112533,330,24.754545
20,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,1501,15.544937,620,17.179032
21,504,4748,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT SPADINA AVE,0,11,15.727273,4841,12.058734
22,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,1495,16.607124,3886,15.956991
23,504,13209,4341,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,1,1470,19.864626,89,20.827715
24,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,96,25.416667,119,1.008403
25,504,13209,7211,KING ST WEST AT BATHURST ST,DUNDAS WEST STATION AT BAY 4,1,16,42.791667,75,29.342222
26,504,5334,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT JARVIS ST,1,17,87.901961,660,21.014141

More analysis ideas: remove weekends, look at 'rush hours', remove 'rush hour', look at the times when the processed data is availiable for each segement

In [6]:
con.close()