# Compare output with processed data provided by TTC

In [2]:
from psycopg2 import connect
import configparser
%matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import matplotlib.ticker as ticker
import folium

CONFIG = configparser.ConfigParser()
CONFIG.read('db.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

from IPython.display import HTML

def print_table(sql, con):
    return HTML(pandasql.read_sql(sql, con).to_html(index=False))

## Explore the data provided by the TTC

### Route 504

There are 77 combinations of distinct from stops, to stops, and directions that we have time data from.

In [44]:
sql_avg = '''
SELECT DISTINCT fromstopname, tostopname, from_stop_id, to_stop_id, directionid, COUNT(*) cnt, routenumber, 
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes
FROM section_runs
WHERE routenumber = 504
GROUP BY fromstopname, tostopname, directionid,from_stop_id, to_stop_id, routenumber
ORDER BY directionid; 
'''

pandasql.read_sql(sql_avg, con)

,fromstopname,tostopname,from_stop_id,to_stop_id,directionid,cnt,routenumber,time_diff_minutes
0,BROADVIEW STATION AT BAY 6,DUNDAS WEST STATION AT BAY 4,13050,13209,0,2,504,-940.666667
1,DUFFERIN GATE LOOP,DUNDAS WEST STATION AT BAY 4,6113,13209,0,1,504,36.000000
2,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,6113,2253,0,10,504,12.166667
3,DUNDAS WEST STATION AT BAY 4,BROADVIEW STATION AT BAY 6,13209,13050,0,2,504,55.666667
4,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT BATHURST ST,13209,2253,0,9,504,-137.592593
5,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,13209,4568,0,1505,504,7.017043
6,KING ST EAST AT JARVIS ST,BROADVIEW STATION AT BAY 6,1897,13050,0,4,504,-344.833333
7,KING ST EAST AT JARVIS ST,KING ST EAST AT JARVIS ST,1897,1897,0,4,504,1.083333
8,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,1897,8207,0,1696,504,-0.682390
9,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1897,7034,0,1,504,3.000000
10,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,8207,13050,0,1517,504,6.548033
11,KING ST EAST AT PARLIAMENT ST,DISTILLERY LOOP,8207,15439,0,1,504,4.666667
12,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,8207,1897,0,39,504,33.239316
13,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,8207,8207,0,98,504,-4.095238
14,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,7034,1845,0,1,504,0.666667
15,KING ST EAST AT YONGE ST,KING ST WEST AT YONGE ST,7034,3070,0,2,504,0.333333
16,KING ST WEST AT BATHURST ST,KING ST EAST AT JARVIS ST,2253,1897,0,1,504,16.666667
17,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,2253,2253,0,2,504,0.333333
18,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,2253,4568,0,7,504,87.809524
19,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,2253,4748,0,1697,504,1.754086
20,KING ST WEST AT BATHURST ST,KING ST WEST AT UNIVERSITY AVE,2253,1845,0,3,504,7.111111
21,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,4568,6113,0,2,504,5.333333
22,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,4568,13209,0,1,504,14.666667
23,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,4568,2253,0,1668,504,4.745414
24,KING ST WEST AT DUFFERIN ST,KING ST WEST AT DUFFERIN ST,4568,4568,0,6,504,7.500000
25,KING ST WEST AT DUFFERIN ST,KING ST WEST AT SPADINA AVE,4568,4748,0,11,504,15.727273
26,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,4748,1897,0,33,504,11.080808
27,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,4748,2253,0,2,504,3.000000
28,KING ST WEST AT SPADINA AVE,KING ST WEST AT SPADINA AVE,4748,4748,0,21,504,18.079365
29,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,4748,1845,0,1645,504,1.823090
...,...,...,...,...,...,...,...,...
47,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,5334,1389,1,3,504,22.000000
48,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,5334,7034,1,1631,504,0.104016
49,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,5334,436,1,39,504,11.606838
50,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,5334,3357,1,17,504,5.843137
51,KING ST EAST AT JARVIS ST,KING ST WEST AT YONGE ST,5334,3070,1,1,504,2.000000
52,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1389,5334,1,1634,504,3.471440
53,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,1389,1389,1,2,504,0.500000
54,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT YONGE ST,1389,7034,1,2,504,6.333333
55,KING ST EAST AT YONGE ST,KING ST EAST AT JARVIS ST,7034,5334,1,5,504,3.666667
56,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,7034,436,1,52,504,8.224359
57,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,7034,3357,1,1590,504,1.597065
58,KING ST EAST AT YONGE ST,KING ST WEST AT YONGE ST,7034,3070,1,8,504,1.000000
59,KING ST WEST AT BATHURST ST,BROADVIEW STATION AT BAY 6,7211,13050,1,1,504,68.666667
60,KING ST WEST AT BATHURST ST,DUNDAS WEST STATION AT BAY 4,7211,13209,1,16,504,42.791667
61,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,7211,7211,1,9,504,103.962963
62,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,7211,4341,1,1667,504,3.209748
63,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,4341,6113,1,7,504,4.047619
64,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,4341,13209,1,1483,504,7.191953
65,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,4341,7211,1,11,504,17.424242
66,KING ST WEST AT DUFFERIN ST,KING ST WEST AT DUFFERIN ST,4341,4341,1,106,504,5.905660
67,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,436,7211,1,1687,504,1.206106
68,KING ST WEST AT SPADINA AVE,KING ST WEST AT DUFFERIN ST,436,4341,1,13,504,11.256410
69,KING ST WEST AT SPADINA AVE,KING ST WEST AT SPADINA AVE,436,436,1,8,504,15.833333
70,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,436,3357,1,16,504,39.125000
71,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,3357,5334,1,4,504,7.416667
72,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT BATHURST ST,3357,7211,1,4,504,6.000000
73,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,3357,436,1,1604,504,0.462594
74,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT UNIVERSITY AVE,3357,3357,1,14,504,0.880952
75,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,3357,3070,1,3,504,2.444444
76,KING ST WEST AT YONGE ST,KING ST EAST AT YONGE ST,3070,7034,1,2,504,0.333333

Look at all the stops that segments start at.

In [26]:
sql_from_stop = '''
SELECT DISTINCT fromstopname, from_stop_id
FROM section_runs
WHERE routenumber = 504
order by from_stop_id; 
'''

pandasql.read_sql(sql_from_stop, con)

                       fromstopname  from_stop_id
0       KING ST WEST AT SPADINA AVE           436
1     KING ST EAST AT PARLIAMENT ST          1389
2   KING ST WEST AT UNIVERSITY AVE           1845
3         KING ST EAST AT JARVIS ST          1897
4       KING ST WEST AT BATHURST ST          2253
5          KING ST WEST AT YONGE ST          3070
6   KING ST WEST AT UNIVERSITY AVE           3357
7       KING ST WEST AT DUFFERIN ST          4341
8       KING ST WEST AT DUFFERIN ST          4568
9       KING ST WEST AT SPADINA AVE          4748
10        KING ST EAST AT JARVIS ST          5334
11               DUFFERIN GATE LOOP          6113
12         KING ST EAST AT YONGE ST          7034
13      KING ST WEST AT BATHURST ST          7211
14    KING ST EAST AT PARLIAMENT ST          8207
15       BROADVIEW STATION AT BAY 6         13050
16     DUNDAS WEST STATION AT BAY 4         13209

Look at all stops where the segments end.

In [27]:
sql_to_stop = '''
SELECT DISTINCT tostopname, to_stop_id
FROM section_runs
WHERE routenumber = 504
order by to_stop_id; 
'''

pandasql.read_sql(sql_to_stop, con)

                         tostopname  to_stop_id
0       KING ST WEST AT SPADINA AVE         436
1     KING ST EAST AT PARLIAMENT ST        1389
2   KING ST WEST AT UNIVERSITY AVE         1845
3         KING ST EAST AT JARVIS ST        1897
4       KING ST WEST AT BATHURST ST        2253
5          KING ST WEST AT YONGE ST        3070
6   KING ST WEST AT UNIVERSITY AVE         3357
7       KING ST WEST AT DUFFERIN ST        4341
8       KING ST WEST AT DUFFERIN ST        4568
9       KING ST WEST AT SPADINA AVE        4748
10        KING ST EAST AT JARVIS ST        5334
11               DUFFERIN GATE LOOP        6113
12         KING ST EAST AT YONGE ST        7034
13      KING ST WEST AT BATHURST ST        7211
14    KING ST EAST AT PARLIAMENT ST        8207
15       BROADVIEW STATION AT BAY 6       13050
16     DUNDAS WEST STATION AT BAY 4       13209
17                  DISTILLERY LOOP       15439

### Route 514

There are 60 combinations of distinct from stops, to stops, and directions that we have time data from.

In [42]:
sql_avg = '''
SELECT fromstopname, tostopname, from_stop_id, to_stop_id, directionid, COUNT(*) cnt, routenumber, 
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes
FROM section_runs
WHERE routenumber = 514
GROUP BY fromstopname, tostopname, directionid,from_stop_id, to_stop_id, routenumber
ORDER BY directionid, fromstopname; 
'''

pandasql.read_sql(sql_avg, con)

,fromstopname,tostopname,from_stop_id,to_stop_id,directionid,cnt,routenumber,time_diff_minutes
0,DUFFERIN GATE LOOP,KING ST WEST AT DUFFERIN ST,6113,4568,0,2,514,1.666667
1,DUFFERIN GATE LOOP,KING ST WEST AT SPADINA AVE,6113,4748,0,5,514,18.733333
2,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,6113,2253,0,592,514,6.285473
3,KING ST EAST AT JARVIS ST,KING ST EAST AT JARVIS ST,1897,1897,0,4,514,0.333333
4,KING ST EAST AT JARVIS ST,DISTILLERY LOOP,1897,15439,0,7,514,7.714286
5,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,1897,8207,0,601,514,0.419246
6,KING ST EAST AT PARLIAMENT ST,DISTILLERY LOOP,8207,15439,0,588,514,0.722251
7,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,8207,8207,0,2,514,14.333333
8,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,8207,1897,0,1,514,4.333333
9,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT YONGE ST,8207,7034,0,1,514,5.333333
10,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,8207,13050,0,1,514,19.000000
11,KING ST WEST AT BATHURST ST,DUFFERIN GATE LOOP,2253,6113,0,1,514,16.666667
12,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,2253,4748,0,613,514,0.958673
13,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,2253,2253,0,3,514,0.888889
14,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,4568,2253,0,2,514,8.500000
15,KING ST WEST AT SPADINA AVE,KING ST WEST AT YONGE ST,4748,3070,0,5,514,7.533333
16,KING ST WEST AT SPADINA AVE,KING ST WEST AT SPADINA AVE,4748,4748,0,4,514,8.166667
17,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,4748,1845,0,608,514,-0.445724
18,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,4748,1897,0,2,514,9.333333
19,KING ST WEST AT SPADINA AVE,KING ST EAST AT PARLIAMENT ST,4748,8207,0,1,514,12.333333
20,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1845,4748,0,2,514,6.500000
21,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,1845,1897,0,34,514,6.509804
22,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,1845,3070,0,578,514,0.602653
23,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT PARLIAMENT ST,1845,8207,0,5,514,9.266667
24,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT UNIVERSITY AVE,1845,1845,0,15,514,0.666667
25,KING ST WEST AT UNIVERSITY AVE,DISTILLERY LOOP,1845,1845,0,2,514,14.000000
26,KING ST WEST AT YONGE ST,KING ST EAST AT YONGE ST,3070,7034,0,6,514,12.000000
27,KING ST WEST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,3070,1845,0,4,514,6.500000
28,KING ST WEST AT YONGE ST,KING ST EAST AT PARLIAMENT ST,3070,8207,0,9,514,9.851852
29,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,3070,1897,0,571,514,0.748453
30,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,13050,1389,1,1,514,20.666667
31,DISTILLERY LOOP,KING ST WEST AT UNIVERSITY AVE,15439,3357,1,1,514,14.666667
32,DISTILLERY LOOP,KING ST EAST AT PARLIAMENT ST,15439,1389,1,573,514,-5.486329
33,DISTILLERY LOOP,KING ST EAST AT JARVIS ST,15439,5334,1,3,514,6.444444
34,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,5334,7034,1,595,514,0.218011
35,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,5334,3357,1,18,514,6.685185
36,KING ST EAST AT JARVIS ST,KING ST EAST AT JARVIS ST,5334,5334,1,4,514,6.666667
37,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,5334,436,1,4,514,11.833333
38,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1389,5334,1,613,514,3.551930
39,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,1389,1389,1,2,514,0.500000
40,KING ST EAST AT PARLIAMENT ST,KING ST WEST AT SPADINA AVE,1389,436,1,1,514,14.000000
41,KING ST EAST AT PARLIAMENT ST,KING ST WEST AT UNIVERSITY AVE,1389,3357,1,4,514,8.833333
42,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT YONGE ST,1389,7034,1,2,514,4.666667
43,KING ST EAST AT YONGE ST,KING ST EAST AT JARVIS ST,7034,5334,1,1,514,3.666667
44,KING ST EAST AT YONGE ST,KING ST WEST AT YONGE ST,7034,3070,1,5,514,0.866667
45,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,7034,436,1,22,514,8.348485
46,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,7034,3357,1,576,514,0.734925
47,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,7211,4341,1,604,514,1.355960
48,KING ST WEST AT BATHURST ST,KING ST WEST AT BATHURST ST,7211,7211,1,7,514,14.476190
49,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,7211,436,1,2,514,3.000000
50,KING ST WEST AT BATHURST ST,DUFFERIN GATE LOOP,7211,6113,1,10,514,13.666667
51,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,4341,7211,1,13,514,17.615385
52,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,4341,6113,1,590,514,1.641808
53,KING ST WEST AT SPADINA AVE,DUFFERIN GATE LOOP,436,6113,1,1,514,13.666667
54,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,436,7211,1,613,514,-0.318108
55,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,436,3357,1,12,514,11.777778
56,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,3357,436,1,593,514,-0.077572
57,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT BATHURST ST,3357,7211,1,8,514,6.750000
58,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,3357,3070,1,2,514,2.333333
59,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT UNIVERSITY AVE,3357,3357,1,8,514,0.541667

Find the stops where the segments start at.

In [28]:
sql_from_stop = '''
SELECT DISTINCT fromstopname, from_stop_id
FROM section_runs
WHERE routenumber = 514
order by from_stop_id; 
'''

pandasql.read_sql(sql_from_stop, con)

                       fromstopname  from_stop_id
0       KING ST WEST AT SPADINA AVE           436
1     KING ST EAST AT PARLIAMENT ST          1389
2   KING ST WEST AT UNIVERSITY AVE           1845
3         KING ST EAST AT JARVIS ST          1897
4       KING ST WEST AT BATHURST ST          2253
5          KING ST WEST AT YONGE ST          3070
6   KING ST WEST AT UNIVERSITY AVE           3357
7       KING ST WEST AT DUFFERIN ST          4341
8       KING ST WEST AT DUFFERIN ST          4568
9       KING ST WEST AT SPADINA AVE          4748
10        KING ST EAST AT JARVIS ST          5334
11               DUFFERIN GATE LOOP          6113
12         KING ST EAST AT YONGE ST          7034
13      KING ST WEST AT BATHURST ST          7211
14    KING ST EAST AT PARLIAMENT ST          8207
15       BROADVIEW STATION AT BAY 6         13050
16                  DISTILLERY LOOP         15439

Find the stops where the segments start at.

In [29]:
sql_to_stop = '''
SELECT DISTINCT tostopname, to_stop_id
FROM section_runs
WHERE routenumber = 514
order by to_stop_id; 
'''

pandasql.read_sql(sql_to_stop, con)

                         tostopname  to_stop_id
0       KING ST WEST AT SPADINA AVE         436
1     KING ST EAST AT PARLIAMENT ST        1389
2   KING ST WEST AT UNIVERSITY AVE         1845
3                   DISTILLERY LOOP        1845
4         KING ST EAST AT JARVIS ST        1897
5       KING ST WEST AT BATHURST ST        2253
6          KING ST WEST AT YONGE ST        3070
7   KING ST WEST AT UNIVERSITY AVE         3357
8       KING ST WEST AT DUFFERIN ST        4341
9       KING ST WEST AT DUFFERIN ST        4568
10      KING ST WEST AT SPADINA AVE        4748
11        KING ST EAST AT JARVIS ST        5334
12               DUFFERIN GATE LOOP        6113
13         KING ST EAST AT YONGE ST        7034
14      KING ST WEST AT BATHURST ST        7211
15    KING ST EAST AT PARLIAMENT ST        8207
16       BROADVIEW STATION AT BAY 6       13050
17                  DISTILLERY LOOP       15439

## Compare averages between TTC and our processed data

### Route 504

Now calculate the average time between this segments from our CIS data processing.

Filtering for where arrival_time at the last stop in the segment is greater than departure time of the first stop in the segment means positive and negative values will not get filtered together. However, it also means that some values with the opposite direction are filtered out.

In [3]:
sql_cis_avg = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time -- , 
-- AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60 AS time_diff_minutes_our_cis
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
WHERE arrival_time > departure_time and from_stop <> to_stop
-- GROUP BY to_stop, from_stop, t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime > fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
)

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis , AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60 AS time_diff_minutes_our_cis
FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 
WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 -- and arrival_time > departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis; 
'''

pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis
0,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,1686,2.059134,1387,4.120896
1,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,1692,2.715721,1607,3.792989
2,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,1628,2.753675,1546,2.626574
3,504,2253,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,0,2,3.000000,1,1075.000000
4,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,1561,3.083280,1042,4.495218
5,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,1562,3.221084,1106,4.101552
6,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,1588,3.408270,1549,5.388401
7,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,1695,3.450157,1597,3.710499
8,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,1634,3.471440,1488,3.912399
9,504,1845,3070,KING ST WEST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,0,2,3.666667,1,1073.333333
10,504,5334,7034,KING ST EAST AT YONGE ST,KING ST EAST AT JARVIS ST,1,5,3.666667,3,1358.777778
11,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,1642,4.447818,1589,4.725205
12,504,4748,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,0,4,4.750000,1,1071.333333
13,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,1599,4.953096,1433,6.124215
14,504,8207,3070,KING ST WEST AT YONGE ST,KING ST EAST AT PARLIAMENT ST,0,6,5.111111,1111,7.884503
15,504,3357,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,1,17,5.843137,1519,6.508240
16,504,7211,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT BATHURST ST,1,4,6.000000,1423,8.903736
17,504,7034,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT YONGE ST,1,2,6.333333,1453,5.911906
18,504,3070,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT YONGE ST,0,15,6.666667,1085,9.093395
19,504,1845,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT UNIVERSITY AVE,0,3,7.111111,1570,8.549915
20,504,5334,3357,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,1,4,7.416667,2,1330.000000
21,504,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,88,7.484848,1533,7.199391
22,504,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,52,8.224359,1452,10.771786
23,504,8207,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT PARLIAMENT ST,0,1,8.333333,1634,10.568146
24,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,1661,8.396338,1486,8.949742
25,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,1663,9.069363,1601,8.779731
26,504,1897,4748,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,0,33,11.080808,1527,12.029906
27,504,4341,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT DUFFERIN ST,1,13,11.256410,1471,12.448470
28,504,436,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,1,39,11.606838,1458,11.753315
29,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,1508,15.112533,170,48.378431
30,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,1501,15.544937,505,18.766997
31,504,4748,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT SPADINA AVE,0,11,15.727273,1615,12.239835
32,504,13050,1897,KING ST EAST AT JARVIS ST,BROADVIEW STATION AT BAY 6,0,3,16.111111,154,49.225108
33,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,1495,16.607124,1450,19.614460
34,504,1897,2253,KING ST WEST AT BATHURST ST,KING ST EAST AT JARVIS ST,0,1,16.666667,1503,15.839443
35,504,7211,4341,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,1,11,17.424242,1,1394.666667
36,504,13209,4341,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,1,1470,19.864626,32,19.510417
37,504,1389,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,1,3,22.000000,3,489.222222
38,504,2253,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT BATHURST ST,0,8,22.833333,1395,28.644898
39,504,4748,3070,KING ST WEST AT YONGE ST,KING ST WEST AT SPADINA AVE,0,2,32.666667,1,1069.000000
40,504,1897,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,0,39,33.239316,1,1075.666667
41,504,3357,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,1,16,39.125000,2,1331.333333
42,504,4341,13050,BROADVIEW STATION AT BAY 6,KING ST WEST AT DUFFERIN ST,1,1,41.333333,505,43.905611
43,504,13209,7211,KING ST WEST AT BATHURST ST,DUNDAS WEST STATION AT BAY 4,1,16,42.791667,23,26.000000
44,504,13050,13209,DUNDAS WEST STATION AT BAY 4,BROADVIEW STATION AT BAY 6,0,2,55.666667,144,84.155093
45,504,4568,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,0,7,87.809524,2,685.500000
46,504,5334,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT JARVIS ST,1,17,87.901961,530,22.560377

There is not a lot of data for when the departure time is greater than the arrival time. The data seems inaccurate, so these records will be filtered out of further analysis.

In [12]:
sql_cis_avg = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time 
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime < fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
)

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM departure_time -  arrival_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time < departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis
0,504,13209,13050,BROADVIEW STATION AT BAY 6,DUNDAS WEST STATION AT BAY 4,0,2,940.666667,251,83.767596
1,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,2,1420.666667,2571,0.646694
2,504,4341,4341,KING ST WEST AT DUFFERIN ST,KING ST WEST AT DUFFERIN ST,1,2,1422.833333,2735,1.618013
3,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,6,1432.611111,1,1397.666667
4,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,5,1433.400000,1,304.000000

Filter out rows where the count for either our data or the ttc data is less than 100 because the averages for these time differences could be easily skewed by outliers. Also segments with less than 100 counts from the TTC are not considered to be important. 

Overall, most segments have similar travel times. In the last three rows in the table below, there seems to be very big differences in the travel times accross the segments. However, the last two rows have a count of under 20 for the ttc processed CIS data, so there could be some outliers that are skewing the results.

In [4]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time 
FROM from_stop_table f INNER JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime > fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time > departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference
FROM output
WHERE cnt_ttc > 100 AND cnt_our_cis > 100 
ORDER BY ttc_our_time_difference; 
'''

pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,1695,3.450157,4924,3.342134,0.108024
1,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,1692,2.715721,5048,2.851760,0.136039
2,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,1628,2.753675,5218,2.517056,0.236619
3,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,1561,3.083280,3780,3.322227,0.238947
4,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,1634,3.471440,4678,3.120418,0.351022
5,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,1661,8.396338,4883,7.911277,0.485060
6,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,1663,9.069363,4902,8.455056,0.614307
7,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,1642,4.447818,4682,3.807661,0.640157
8,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,1562,3.221084,3739,2.574735,0.646349
9,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,1588,3.408270,4975,2.760121,0.648150
10,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,1495,16.607124,3886,15.956991,0.650133
11,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,1599,4.953096,4292,3.770329,1.182767
12,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,1686,2.059134,4581,3.269897,1.210763
13,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,1501,15.544937,620,17.179032,1.634096
14,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,1508,15.112533,330,24.754545,9.642012

Remove weekends

In [38]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime > fromstopdepaturetime and journeydate <> '2017-11-19' and journeydate <> '2017-11-25'
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time > departure_time 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,504,1897,4748,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,0,30,10.877778,3942,10.825647,0.052131
1,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,1397,2.639466,4169,2.766451,0.126985
2,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,1392,3.539763,4066,3.391949,0.147813
3,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,1339,2.761003,4338,2.541179,0.219825
4,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,1291,2.872450,3122,3.101543,0.229093
5,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,1346,3.512382,3842,3.154429,0.357953
6,504,4341,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT DUFFERIN ST,1,12,11.166667,3748,11.593312,0.426645
7,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,1362,8.441263,3991,7.915593,0.525669
8,504,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,39,8.572650,4077,8.012182,0.560467
9,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,1294,3.144513,3078,2.555545,0.588968
10,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,1356,4.415671,3850,3.783740,0.631931
11,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,1312,3.444106,4145,2.783756,0.660350
12,504,3357,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,1,11,6.090909,3762,5.424787,0.666122
13,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,1366,9.193277,4042,8.497778,0.695500
14,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,1218,16.763807,3287,15.995639,0.768167
15,504,436,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,1,38,11.526316,3734,10.654075,0.872241
16,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,1385,2.072696,3768,3.238588,1.165893
17,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,1323,5.031494,3544,3.787975,1.243519
18,504,13209,4341,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,1,1197,20.055695,60,21.361111,1.305416
19,504,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,67,7.069652,3858,5.752117,1.317535
20,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,1233,15.677197,498,17.118474,1.441277
21,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,1239,15.313990,288,21.793981,6.479992
22,504,13209,7211,KING ST WEST AT BATHURST ST,DUNDAS WEST STATION AT BAY 4,1,13,47.000000,53,29.044025,17.955975
23,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,81,26.641975,106,1.015723,25.626252
24,504,5334,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT JARVIS ST,1,16,92.708333,529,21.239445,71.468888

Weekday rush hour

In [37]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 AND toarrstoptime > fromstopdepaturetime AND journeydate <> '2017-11-19' AND journeydate <> '2017-11-25'
AND (EXTRACT(HOUR FROM fromstopdepaturetime) between 7 AND 10 OR EXTRACT(HOUR FROM fromstopdepaturetime) between 16 AND 19)
AND (EXTRACT(HOUR FROM toarrstoptime) between 7 AND 10 OR EXTRACT(HOUR FROM toarrstoptime) between 16 AND 19)
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time > departure_time 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
AND (EXTRACT(HOUR FROM departure_time) between 7 AND 10 OR EXTRACT(HOUR FROM departure_time) between 16 AND 19)
AND (EXTRACT(HOUR FROM arrival_time) between 7 AND 10 OR EXTRACT(HOUR FROM arrival_time) between 16 AND 19)
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference 
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''


pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,659,2.772888,1955,2.919352,0.146464
1,504,436,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,1,17,11.666667,1729,11.511085,0.155581
2,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,627,2.894737,2102,2.736759,0.157978
3,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,586,3.120023,1479,3.284201,0.164178
4,504,1897,4748,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,0,15,11.444444,1782,11.655817,0.211373
5,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,555,16.364595,167,16.031936,0.332658
6,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,614,3.849620,1801,3.378308,0.471312
7,504,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,19,9.105263,1944,8.632888,0.472376
8,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,662,3.917925,1937,3.393048,0.524878
9,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,588,3.425170,1460,2.803653,0.621517
10,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,630,8.936508,1821,8.232473,0.704035
11,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,633,4.683518,1803,3.954335,0.729182
12,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,625,9.801627,1822,9.046661,0.754965
13,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,610,3.733333,1949,2.972807,0.760527
14,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,615,5.024932,1655,4.006224,1.018709
15,504,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,46,7.478261,1762,6.272418,1.205843
16,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,536,18.159826,1606,16.950602,1.209224
17,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,655,2.079898,1790,3.445251,1.365353
18,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,536,16.705846,158,18.208861,1.503015
19,504,13209,4341,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,1,514,21.778859,28,23.988095,2.209237
20,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,33,26.949495,37,0.882883,26.066612

Weekday not rush hour

In [36]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 AND toarrstoptime > fromstopdepaturetime AND journeydate <> '2017-11-19' AND journeydate <> '2017-11-25'
AND NOT (EXTRACT(HOUR FROM fromstopdepaturetime) between 7 AND 10 OR EXTRACT(HOUR FROM fromstopdepaturetime) between 16 AND 19)
AND NOT (EXTRACT(HOUR FROM toarrstoptime) between 7 AND 10 OR EXTRACT(HOUR FROM toarrstoptime) between 16 AND 19)
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time > departure_time 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
AND NOT (EXTRACT(HOUR FROM departure_time) between 7 AND 10 OR EXTRACT(HOUR FROM departure_time) between 16 AND 19)
AND NOT (EXTRACT(HOUR FROM arrival_time) between 7 AND 10 OR EXTRACT(HOUR FROM arrival_time) between 16 AND 19)
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference 
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''


pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,730,2.521918,2181,2.627694,0.105776
1,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,713,3.207574,2004,2.953751,0.253823
2,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,691,2.662325,1613,2.933881,0.271556
3,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,701,2.637637,2200,2.351500,0.286137
4,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,695,7.992326,2057,7.621682,0.370644
5,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,716,3.193226,2084,2.791267,0.401959
6,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,689,8.471214,2080,8.024359,0.446855
7,504,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,18,7.907407,2012,7.421471,0.485936
8,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,618,15.444957,1520,14.950439,0.494518
9,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,701,3.980956,2000,3.483367,0.497589
10,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,684,3.185185,2147,2.606428,0.578758
11,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,684,2.901559,1577,2.299704,0.601855
12,504,1897,4748,KING ST WEST AT SPADINA AVE,KING ST EAST AT JARVIS ST,0,13,10.538462,1991,9.816190,0.722272
13,504,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,20,6.150000,1994,5.276496,0.873504
14,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,717,2.063715,1933,3.046732,0.983018
15,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,686,4.586006,1844,3.585114,1.000892
16,504,436,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT SPADINA AVE,1,19,11.210526,1848,9.844147,1.366379
17,504,13209,4341,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,1,581,18.130235,26,16.717949,1.412287
18,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,630,14.571931,305,16.126776,1.554845
19,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,615,14.357751,115,30.463768,16.106017
20,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,36,19.462963,68,0.769608,18.693355

Weekends

In [35]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_504_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_504_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 504 and toarrstoptime > fromstopdepaturetime and (journeydate = '2017-11-19' OR journeydate = '2017-11-25')
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 504 and arrival_time > departure_time 
and (date(arrival_time) = '2017-11-19' OR date(arrival_time) = '2017-11-25')
and (date(departure_time) = '2017-11-19' OR date(departure_time) = '2017-11-25')
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,504,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,303,3.038504,858,3.106061,0.067557
1,504,4568,13209,DUNDAS WEST STATION AT BAY 4,KING ST WEST AT DUFFERIN ST,0,277,15.918171,595,15.763361,0.154810
2,504,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,295,3.076836,878,3.257802,0.180966
3,504,2253,4568,KING ST WEST AT DUFFERIN ST,KING ST WEST AT BATHURST ST,0,297,8.499439,860,8.254264,0.245175
4,504,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,270,4.091358,658,4.369301,0.277943
5,504,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,299,8.191695,884,7.887217,0.304477
6,504,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,288,3.280093,836,2.964115,0.315978
7,504,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,289,2.719723,880,2.398144,0.321579
8,504,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,13,7.179487,810,7.638601,0.459114
9,504,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,276,3.237923,826,2.637934,0.599989
10,504,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,286,4.600233,828,3.911514,0.688719
11,504,13209,4341,KING ST WEST AT DUFFERIN ST,DUNDAS WEST STATION AT BAY 4,1,273,19.026862,29,19.724138,0.697276
12,504,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,276,4.577295,744,3.692204,0.885090
13,504,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,268,3.590796,657,2.665094,0.925702
14,504,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,301,1.996733,809,3.414586,1.417853
15,504,13050,8207,KING ST EAST AT PARLIAMENT ST,BROADVIEW STATION AT BAY 6,0,269,14.184634,40,15.875000,1.690366
16,504,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,21,8.809524,823,6.662576,2.146948
17,504,1389,13050,BROADVIEW STATION AT BAY 6,KING ST EAST AT PARLIAMENT ST,1,268,14.936443,122,17.426230,2.489787
18,504,8207,8207,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT PARLIAMENT ST,0,15,18.800000,13,0.948718,17.851282

### Route 514

The time difference numbers for segments where departure time from the first stop is occurs after the arrival time to the last stop in the segment is extremely large. These records should be filtered out of further analysis.

In [24]:
sql_cis_avg = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time 
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 514 and toarrstoptime < fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
)

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM departure_time -  arrival_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 and arrival_time < departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis
0,514,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,3,1432.111111,4,2119.000000
1,514,6113,4341,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,1,1,1436.333333,4,2122.333333
2,514,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,2,1436.333333,1,2123.333333
3,514,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,1,1437.000000,2,3104.666667
4,514,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,1,1438.000000,1,2125.333333
5,514,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,1,1438.666667,1,2124.000000

In [34]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time 
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 514 and toarrstoptime > fromstopdepaturetime
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 and arrival_time > departure_time
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''
pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,514,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,606,4.297030,1187,4.320135,0.023105
1,514,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,577,3.094743,819,3.269841,0.175098
2,514,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,34,6.509804,1089,6.732798,0.222994
3,514,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,612,3.306100,1162,3.053356,0.252744
4,514,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,570,3.271988,750,3.556911,0.284923
5,514,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,600,2.816056,1052,3.619439,0.803384
6,514,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,575,3.235333,1134,4.787478,1.552145
7,514,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,613,3.551930,1025,5.309593,1.757663
8,514,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,22,8.348485,965,10.254922,1.906437
9,514,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,591,4.782854,1004,6.881790,2.098936
10,514,3357,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,1,18,6.685185,1138,9.619801,2.934616
11,514,2253,6113,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,0,590,11.164972,898,14.473274,3.308302
12,514,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,601,8.511370,1021,12.515181,4.003811
13,514,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,612,2.032135,922,7.924801,5.892666
14,514,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,594,2.639254,1161,10.049383,7.410129
15,514,6113,4341,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,1,589,4.083192,744,14.755824,10.672633
16,514,1389,15439,DISTILLERY LOOP,KING ST EAST AT PARLIAMENT ST,1,569,4.569420,521,34.795905,30.226485
17,514,15439,8207,KING ST EAST AT PARLIAMENT ST,DISTILLERY LOOP,0,586,5.620051,13,240.641026,235.020974

Remove weekends

In [33]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 514 and toarrstoptime > fromstopdepaturetime and journeydate <> '2017-11-19' and journeydate <> '2017-11-25'
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 and arrival_time > departure_time 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,514,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,26,6.666667,901,6.583426,0.083241
1,514,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,475,4.192281,970,4.294158,0.101877
2,514,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,458,3.096070,618,3.295577,0.199507
3,514,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,460,3.059420,683,3.265983,0.206563
4,514,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,480,3.381250,946,3.037703,0.343547
5,514,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,479,2.707724,852,3.467136,0.759412
6,514,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,465,3.290287,924,5.240260,1.949973
7,514,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,487,3.559890,845,5.712032,2.152141
8,514,436,7034,KING ST EAST AT YONGE ST,KING ST WEST AT SPADINA AVE,1,18,8.296296,789,10.819180,2.522884
9,514,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,467,4.854390,791,7.521681,2.667292
10,514,2253,6113,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,0,462,11.310967,725,14.293793,2.982826
11,514,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,473,8.522903,839,13.433453,4.910549
12,514,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,480,2.039583,740,9.094144,7.054561
13,514,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,481,2.623805,961,11.528269,8.904465
14,514,6113,4341,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,1,465,4.048029,618,17.092233,13.044204
15,514,1389,15439,DISTILLERY LOOP,KING ST EAST AT PARLIAMENT ST,1,442,4.533937,408,39.011438,34.477501

**Weekday rush hour**

In [30]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 514 AND toarrstoptime > fromstopdepaturetime AND journeydate <> '2017-11-19' AND journeydate <> '2017-11-25'
AND (EXTRACT(HOUR FROM fromstopdepaturetime) between 7 AND 10 OR EXTRACT(HOUR FROM fromstopdepaturetime) between 16 AND 19)
AND (EXTRACT(HOUR FROM toarrstoptime) between 7 AND 10 OR EXTRACT(HOUR FROM toarrstoptime) between 16 AND 19)
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 and arrival_time > departure_time 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
AND (EXTRACT(HOUR FROM departure_time) between 7 AND 10 OR EXTRACT(HOUR FROM departure_time) between 16 AND 19)
AND (EXTRACT(HOUR FROM arrival_time) between 7 AND 10 OR EXTRACT(HOUR FROM arrival_time) between 16 AND 19)
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference 
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''


pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,514,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,241,4.478562,481,4.532918,0.054356
1,514,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,220,3.401515,317,3.492114,0.090598
2,514,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,219,5.179604,383,5.315013,0.135409
3,514,1897,1845,KING ST WEST AT UNIVERSITY AVE,KING ST EAST AT JARVIS ST,0,22,6.924242,444,7.165916,0.241673
4,514,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,225,3.317037,350,3.567619,0.250582
5,514,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,249,3.504685,521,3.193218,0.311467
6,514,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,223,2.726532,453,3.063282,0.336750
7,514,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,226,3.809735,419,3.410501,0.399233
8,514,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,221,3.557994,454,3.074156,0.483838
9,514,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,244,2.901639,448,3.803571,0.901932
10,514,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,237,2.061885,336,3.554563,1.492679
11,514,2253,6113,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,0,234,12.471510,401,14.935993,2.464483
12,514,1389,15439,DISTILLERY LOOP,KING ST EAST AT PARLIAMENT ST,1,220,4.733333,196,7.341837,2.608503
13,514,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,227,9.095448,383,20.008703,10.913255
14,514,6113,4341,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,1,237,4.281294,280,33.994048,29.712754

Take a look at the trips with the segment KING ST WEST AT DUFFERIN ST to DUFFERIN GATE LOOP with a time of over 4 mins and 30 seconds, which is about the average from the ttc data (See chart above, this segment has the greatest time difference in comparison to the TTC processed data). 

There is only one trip that meets the criteria, and it has a inaccurate and very large travel time between the two stops, making this point an outlier.

In [39]:
sql_werid_trips = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
)

SELECT to_stop, from_stop, direction_id, trip_id,

abs(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s

WHERE arrival_time <= departure_time AND from_stop = 6113 AND to_stop = 4341 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
AND (EXTRACT(HOUR FROM departure_time) between 7 AND 10 OR EXTRACT(HOUR FROM departure_time) between 16 AND 19)
AND (EXTRACT(HOUR FROM arrival_time) between 7 AND 10 OR EXTRACT(HOUR FROM arrival_time) between 16 AND 19)
AND abs(EXTRACT(EPOCH FROM arrival_time - departure_time) /60) > 4.3
GROUP BY to_stop, from_stop, direction_id, trip_id, arrival_time, departure_time
ORDER BY time_diff_minutes_our_cis

'''


pandasql.read_sql(sql_werid_trips, con)

    to_stop  from_stop  direction_id  trip_id  time_diff_minutes_our_cis
0      4341       6113             1      583                   4.333333
1      4341       6113             1       60                   4.333333
2      4341       6113             1      531                   4.333333
3      4341       6113             1     1479                   4.333333
4      4341       6113             1     1288                   4.333333
5      4341       6113             1     1096                   4.333333
6      4341       6113             1      779                   4.333333
7      4341       6113             1      731                   4.333333
8      4341       6113             1       30                   4.666667
9      4341       6113             1      135                   4.666667
10     4341       6113             1      422                   4.666667
11     4341       6113             1      549                   4.666667
12     4341       6113             1      960                   4.666667
13     4341       6113             1      964                   4.666667
14     4341       6113             1     1002                   4.666667
15     4341       6113             1     1302                   4.666667
16     4341       6113             1     1328                   4.666667
17     4341       6113             1     1464                   4.666667
18     4341       6113             1      233                   5.000000
19     4341       6113             1      519                   5.000000
20     4341       6113             1     1577                   5.333333
21     4341       6113             1      224                   5.333333
22     4341       6113             1      472                   5.666667
23     4341       6113             1      504                   5.666667
24     4341       6113             1      665                   6.000000
25     4341       6113             1     1068                   6.000000
26     4341       6113             1     1440                   6.000000
27     4341       6113             1     1581                   6.000000
28     4341       6113             1      652                   7.000000
29     4341       6113             1     1523                   7.000000
30     4341       6113             1      294                   7.333333
31     4341       6113             1      280                   7.666667
32     4341       6113             1     1553                   8.000000
33     4341       6113             1      398                   8.000000
34     4341       6113             1     1070                   8.333333
35     4341       6113             1      887                   8.666667
36     4341       6113             1      280                   9.000000
37     4341       6113             1      835                  10.000000
38     4341       6113             1     1464                2129.333333

After removing the outliers from our processed dataset by filtering out travel times that are greater than or equal to 30 minutes, the times measured by our processed data makes more sense.

In [48]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis_start AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(abs(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60)
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 514 AND journeydate <> '2017-11-19' AND journeydate <> '2017-11-25'
AND (EXTRACT(HOUR FROM fromstopdepaturetime) between 7 AND 10 OR EXTRACT(HOUR FROM fromstopdepaturetime) between 16 AND 19)
AND (EXTRACT(HOUR FROM toarrstoptime) between 7 AND 10 OR EXTRACT(HOUR FROM toarrstoptime) between 16 AND 19)
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

ttc_cis AS (
SELECT * FROM ttc_cis_start WHERE cnt > 100
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(abs(EXTRACT(EPOCH FROM arrival_time - departure_time))) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
AND (EXTRACT(HOUR FROM departure_time) between 7 AND 10 OR EXTRACT(HOUR FROM departure_time) between 16 AND 19)
AND (EXTRACT(HOUR FROM arrival_time) between 7 AND 10 OR EXTRACT(HOUR FROM arrival_time) between 16 AND 19)
AND abs(EXTRACT(EPOCH FROM arrival_time - departure_time) /60) < 30 
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference 
FROM output
WHERE cnt_ttc > 100 AND cnt_our_cis > 100
ORDER BY directionid; 

'''


pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,514,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,220,3.401515,317,3.492114,0.090598
1,514,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,241,4.478562,481,4.532918,0.054356
2,514,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,249,3.504685,521,3.193218,0.311467
3,514,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,244,2.901639,448,3.803571,0.901932
4,514,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,225,3.317037,350,3.567619,0.250582
5,514,2253,6113,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,0,234,12.471510,393,14.439355,1.967845
6,514,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,219,5.179604,383,5.315013,0.135409
7,514,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,227,9.095448,381,8.904637,0.190811
8,514,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,226,3.809735,419,3.410501,0.399233
9,514,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,223,2.726532,453,3.063282,0.336750
10,514,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,221,3.557994,454,3.074156,0.483838
11,514,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,237,2.061885,336,3.554563,1.492679
12,514,6113,4341,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,1,237,4.281294,276,3.626812,0.654482
13,514,1389,15439,DISTILLERY LOOP,KING ST EAST AT PARLIAMENT ST,1,220,4.733333,196,7.341837,2.608503

In [19]:
sql_hist  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT fromstopname, tostopname, directionid, to_stop_id, from_stop_id, routenumber
FROM section_runs
WHERE routenumber = 514 AND toarrstoptime > fromstopdepaturetime 
AND journeydate = '2017-11-20'
-- AND journeydate <> '2017-11-19' AND journeydate <> '2017-11-25'
AND (EXTRACT(HOUR FROM fromstopdepaturetime) between 7 AND 10 OR EXTRACT(HOUR FROM fromstopdepaturetime) between 16 AND 19)
AND (EXTRACT(HOUR FROM toarrstoptime) between 7 AND 10 OR EXTRACT(HOUR FROM toarrstoptime) between 16 AND 19)
-- GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
)

SELECT arrival_time 


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 
and date(arrival_time) = '2017-11-20' and date(departure_time) = '2017-11-20'

-- and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
-- and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'

AND (EXTRACT(HOUR FROM departure_time) between 7 AND 10 OR EXTRACT(HOUR FROM departure_time) between 16 AND 19)
AND (EXTRACT(HOUR FROM arrival_time) between 7 AND 10 OR EXTRACT(HOUR FROM arrival_time) between 16 AND 19)
AND to_stop_id = 4748  AND from_stop_id = 2253 AND directionid = 0
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, routenumber, arrival_time

'''

# need to fiure out bins ??? 

df = pandasql.read_sql(sql_hist, con)
#bins = np.linspace(50, 2000, 1950)
df["arrival_time"] = pd.to_datetime(df['arrival_time'],  infer_datetime_format=True)

df.set_index(['arrival_time'])


'''
df.groupby(pd.Grouper(freq='10Min')).count().plot(kind='bar')
#df.hist()
plt.title('Route 514 - Travel times TTC processing versus our processing')
plt.xlabel("Travel Time")
#ax = plt.gca()
#ax.set_xlim([50, 2000])
# ax.xaxis.set_major_locator(ticker.MultipleLocator(200))


plt.show()
'''
#pandasql.read_sql(sql_hist, con)

          arrival_time
0  2017-11-20 07:03:20
1  2017-11-20 07:16:40
2  2017-11-20 07:21:40
3  2017-11-20 07:29:20
4  2017-11-20 07:39:20
5  2017-11-20 07:46:40
6  2017-11-20 07:56:00
7  2017-11-20 08:09:20
8  2017-11-20 08:19:40
9  2017-11-20 08:26:40
10 2017-11-20 08:36:40
11 2017-11-20 08:43:00
12 2017-11-20 08:53:20
13 2017-11-20 08:59:20
14 2017-11-20 09:06:40
15 2017-11-20 09:31:00
16 2017-11-20 09:35:40
17 2017-11-20 09:41:20
18 2017-11-20 09:43:20
19 2017-11-20 10:12:40
20 2017-11-20 10:19:00
21 2017-11-20 10:34:20
22 2017-11-20 10:53:20
23 2017-11-20 16:07:00
24 2017-11-20 16:15:00
25 2017-11-20 16:22:40
26 2017-11-20 16:36:40
27 2017-11-20 16:47:20
28 2017-11-20 16:53:20
29 2017-11-20 16:58:40
30 2017-11-20 17:11:40
31 2017-11-20 17:18:40
32 2017-11-20 17:29:40
33 2017-11-20 17:40:40
34 2017-11-20 17:47:20
35 2017-11-20 18:01:00
36 2017-11-20 18:06:00
37 2017-11-20 18:13:20
38 2017-11-20 18:31:40
39 2017-11-20 18:38:00
40 2017-11-20 18:52:00
41 2017-11-20 19:10:20
42 2017-11-20 19:13:00
43 2017-11-20 19:35:40
44 2017-11-20 19:47:40
45 2017-11-20 19:55:40

ValueError: num must be 1 <= num <= 0, not 1

Weekday not rush hour

In [31]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 514 AND toarrstoptime > fromstopdepaturetime AND journeydate <> '2017-11-19' AND journeydate <> '2017-11-25'
AND NOT (EXTRACT(HOUR FROM fromstopdepaturetime) between 7 AND 10 OR EXTRACT(HOUR FROM fromstopdepaturetime) between 16 AND 19)
AND NOT (EXTRACT(HOUR FROM toarrstoptime) between 7 AND 10 OR EXTRACT(HOUR FROM toarrstoptime) between 16 AND 19)
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 and arrival_time > departure_time 
and date(arrival_time) <> '2017-11-19' and date(arrival_time) <> '2017-11-25'
and date(departure_time) <> '2017-11-19' and date(departure_time) <> '2017-11-25'
AND NOT (EXTRACT(HOUR FROM departure_time) between 7 AND 10 OR EXTRACT(HOUR FROM departure_time) between 16 AND 19)
AND NOT (EXTRACT(HOUR FROM arrival_time) between 7 AND 10 OR EXTRACT(HOUR FROM arrival_time) between 16 AND 19)
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference 
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''


pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,514,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,224,7.959821,419,7.881464,0.078358
1,514,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,249,2.532932,487,2.635181,0.102250
2,514,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,234,2.814815,325,2.929231,0.114416
3,514,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,222,3.884384,470,4.057447,0.173062
4,514,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,238,4.567227,393,4.378287,0.188940
5,514,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,243,3.049383,467,2.800857,0.248526
6,514,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,231,2.815296,290,3.106897,0.291601
7,514,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,257,3.341115,419,2.976134,0.364982
8,514,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,228,3.233918,418,2.836523,0.397395
9,514,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,227,2.497797,393,3.089907,0.592109
10,514,6113,4341,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,1,223,3.771300,324,3.091564,0.679737
11,514,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,241,2.016598,398,3.165829,1.149232
12,514,2253,6113,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,0,203,10.021346,271,13.338253,3.316907
13,514,1389,15439,DISTILLERY LOOP,KING ST EAST AT PARLIAMENT ST,1,212,4.333333,187,7.691622,3.358289

Weekends

In [32]:
sql_cis_avg  = '''
WITH to_stop_table AS (
SELECT t.stop_id to_stop, trip_id, direction_id, arrival_time
FROM crosic.cis_514_11192017_11252017_tripids t
WHERE t.stop_id IN (SELECT to_stop_id FROM crosic.section_runs)
),

from_stop_table AS (
SELECT t.stop_id from_stop, trip_id, direction_id, departure_time
FROM crosic.cis_514_11192017_11252017_tripids t 
WHERE t.stop_id IN (SELECT from_stop_id FROM crosic.section_runs)
), 

stops AS (
SELECT to_stop, from_stop, t.direction_id, t.trip_id, arrival_time, departure_time
FROM from_stop_table f JOIN to_stop_table t ON f.trip_id = t.trip_id and f.direction_id = t.direction_id
),

ttc_cis AS (
SELECT DISTINCT fromstopname, tostopname, directionid, COUNT(*) cnt, to_stop_id, from_stop_id, routenumber,
AVG(EXTRACT(EPOCH FROM (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(toarrstoptime, 'HH24:MI:SS'))::timestamp
- (to_char(journeydate, 'YYYY-MM-DD') || ' ' || to_char(fromstopdepaturetime, 'HH24:MI:SS'))::timestamp)  ) /60
AS time_diff_minutes_ttc
FROM section_runs
WHERE routenumber = 514 and toarrstoptime > fromstopdepaturetime and (journeydate = '2017-11-19' OR journeydate = '2017-11-25')
GROUP BY fromstopname, tostopname, to_stop_id, from_stop_id, directionid, routenumber
ORDER BY time_diff_minutes_ttc
),

output AS (
SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt cnt_ttc, time_diff_minutes_ttc, 
COUNT(*) cnt_our_cis,

AVG(EXTRACT(EPOCH FROM arrival_time - departure_time)) /60
AS time_diff_minutes_our_cis


FROM stops s JOIN ttc_cis ttc ON s.to_stop = ttc.to_stop_id AND s.from_stop = ttc.from_stop_id 

WHERE s.direction_id = ttc.directionid and ttc.routenumber = 514 and arrival_time > departure_time 
and (date(arrival_time) = '2017-11-19' OR date(arrival_time) = '2017-11-25')
and (date(departure_time) = '2017-11-19' OR date(departure_time) = '2017-11-25')
GROUP BY to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, ttc.cnt, time_diff_minutes_ttc, routenumber
ORDER BY time_diff_minutes_ttc, time_diff_minutes_our_cis
) 

SELECT routenumber, to_stop_id, from_stop_id,  fromstopname, tostopname, directionid, cnt_ttc, time_diff_minutes_ttc, 
cnt_our_cis, time_diff_minutes_our_cis, abs(time_diff_minutes_our_cis - time_diff_minutes_ttc) ttc_our_time_difference
FROM output
WHERE cnt_ttc > 10 AND cnt_our_cis > 10
ORDER BY ttc_our_time_difference; 

'''



pandasql.read_sql(sql_cis_avg, con)

,routenumber,to_stop_id,from_stop_id,fromstopname,tostopname,directionid,cnt_ttc,time_diff_minutes_ttc,cnt_our_cis,time_diff_minutes_our_cis,ttc_our_time_difference
0,514,436,3357,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT SPADINA AVE,1,124,4.513441,211,4.513428,0.000013
1,514,3070,1845,KING ST WEST AT UNIVERSITY AVE,KING ST WEST AT YONGE ST,0,117,3.233618,136,3.289216,0.055597
2,514,4748,2253,KING ST WEST AT BATHURST ST,KING ST WEST AT SPADINA AVE,0,132,3.032828,216,3.121914,0.089085
3,514,5334,1389,KING ST EAST AT PARLIAMENT ST,KING ST EAST AT JARVIS ST,1,126,3.521164,180,3.420370,0.100794
4,514,4341,7211,KING ST WEST AT BATHURST ST,KING ST WEST AT DUFFERIN ST,1,128,8.468750,178,8.269663,0.199087
5,514,3357,7034,KING ST EAST AT YONGE ST,KING ST WEST AT UNIVERSITY AVE,1,110,3.003030,210,2.795238,0.207792
6,514,7034,5334,KING ST EAST AT JARVIS ST,KING ST EAST AT YONGE ST,1,113,2.705015,200,2.943333,0.238319
7,514,1845,4748,KING ST WEST AT SPADINA AVE,KING ST WEST AT UNIVERSITY AVE,0,131,4.676845,217,4.436252,0.240593
8,514,1897,3070,KING ST WEST AT YONGE ST,KING ST EAST AT JARVIS ST,0,112,3.991369,131,4.801654,0.810285
9,514,6113,4341,KING ST WEST AT DUFFERIN ST,DUFFERIN GATE LOOP,1,124,4.215054,126,3.296296,0.918757
10,514,8207,1897,KING ST EAST AT JARVIS ST,KING ST EAST AT PARLIAMENT ST,0,121,3.244904,200,4.268250,1.023346
11,514,3357,5334,KING ST EAST AT JARVIS ST,KING ST WEST AT UNIVERSITY AVE,1,11,6.727273,216,5.660494,1.066779
12,514,7211,436,KING ST WEST AT SPADINA AVE,KING ST WEST AT BATHURST ST,1,132,2.005051,180,3.175926,1.170875
13,514,1389,15439,DISTILLERY LOOP,KING ST EAST AT PARLIAMENT ST,1,127,4.692913,111,8.432432,3.739519
14,514,2253,6113,DUFFERIN GATE LOOP,KING ST WEST AT BATHURST ST,0,128,10.638021,173,15.225434,4.587413

Overall we found that our CIS processing had higher counts than the TTC processed CIS counts, part of which may be because the TTC filters out a lot of their trips.

In [6]:
con.close()